.comment-container {
  .comment {
    list-style: none;
    margin-top: 15px;
    &__head {
      display: flex;
      &__user_name{
        margin-top: 10px;
      }
      &__delete {
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
      }
    }
    &__content {
      position: relative;
      width: calc(100% - 56px);
      padding: 16px;
      background: #eef0f4;
      border-radius: 15px;
      line-height: 1.5;
      word-break: break-all;
    }
  }
  .without_comment {
    margin-top: 15px;
  }
  .comment-form {
    margin-top: 40px;
    &__field {
      font-size: 1rem;
    }
  }
}