.form-control {
  font-size: 1.2rem;
}

label {
  font-size: 20px;
}

input::placeholder,textarea::placeholder {
  font-size: 16px;
}

textarea {
  height: 120px;
  font-size: 20px;
}

button {
  border-radius: 10px;
}

.quote-form {
  margin-top: 100px;
}

input[type="file"] {
  font-size: 12px;
}

.error {
  margin: 10px;
  font-size: 16px;
  color: tomato;
}