.header {
  padding: 10px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  &__bar {
    position: relative;
    a {
      text-decoration: none;
    }
    .title {
      float: left;
      padding: 10px;
      margin-left: 50px;
    }
    .nav {
      float: right;
      margin: 25px;
      &__item {
        padding: 5px;
      }
      .menu {
        ul{
          padding: 0;
        }
        &__icon {
          margin: 0 20px;
          border-radius: 50%;
        }
        &__list {
          display: none;
          &__item{
           padding: 5px;
           list-style: none;
          }
        }
      }
    }
  }
}

