body {
  background-color: #f5f5f3;
}
.container {
  width: 700px;
  margin: 20px auto;
  overflow: scroll;
  .item {
    display: inline-block;
    vertical-align: middle;
  }
  .quote {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 20px;
    &:first-child {
      margin-top: 100px;
    }
    .content {
      font-size: 20px;
      font-weight: 400;
      padding: 30px;
    }
    .translation,.source {
      font-size: 15px;
      font-weight: 400;
      margin-left: 75px;
    }
    .source {
      margin-top: 10px;
    }
    .card-footer {
      font-size: 14px;
    }
  }
  img {
    border-radius: 100px;
    border:1px solid black;
    margin: 10px;
  }
}